<div>
  <app-checkbox
    [data]="language$ | async"
    (filter)="onLangClick($event)"
  ></app-checkbox>

  <app-checkbox
    [data]="level$ | async"
    (filter)="onLevelClick($event)"
  ></app-checkbox>

  <form [formGroup]="searchForm">
    <input name="search" formControlName="search" placeholder="search" />
  </form>

  <button (click)="onReset()">Reset</button>
</div>

<app-report
  [filterStr]="filterStr$ | async"
  class="cards"
  [level]="selectedLevels"
  [lang]="selectedLangs"
></app-report>
