<div>
  <span *ngFor="let lang of language$ | async">
    <app-checkbox
      [name]="lang.name"
      [isChecked]="lang.isChecked"
      (filter)="onClick($event)"
    ></app-checkbox>
  </span>

  <span *ngFor="let l of level$ | async">
    <app-checkbox
      [name]="l.value"
      [isChecked]="l.isChecked"
      (filter)="onClick($event)"
    ></app-checkbox>
  </span>

  <form [formGroup]="searchForm">
    <input name="search" formControlName="search" placeholder="search" />
  </form>

  <button (click)="onReset()">Reset</button>
</div>

<app-report [sortStr]="sortStr$ | async" class="cards"></app-report>
